{% extends "base.html" %}

{% block sidebar %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="{{ url_for('driver.home') }}"
               class="list-group-item list-group-item-action bg-light">Available
                Orders</a>
            <a href="{{ url_for('driver.history') }}"
               class="list-group-item list-group-item-action bg-light">Finished
                Jobs</a>
            <a href="{{ url_for('driver.profile') }}"
               class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="{{ url_for('driver.vehicles') }}"
               class="list-group-item list-group-item-action bg-light">Vehicles</a>
            <a href="{{ url_for('driver.logout') }}"
               class="list-group-item list-group-item-action bg-light">Log
                Out</a>
        </div>
    </div>
{% endblock %}
