{% extends "driver/base.html" %}

{% block content_section %}
    {% if not current_user.current_car %}
        <div class="alert alert-info mt-2" role="alert">
            You haven't selected any cars yet - <a
                href="{{ url_for('driver.add_vehicle') }}" class="alert-link">add
            new vehicle
        </a> or <a
                href="{{ url_for('driver.vehicles') }}" class="alert-link">select
            from existing ones
        </a>
        </div>
    {% else %}
        <div class="alert alert-success mt-2" role="alert">
            Your current car is capable of transporting up to
            <b>{{ current_user.current_car.places_count }}</b> passengers.
            <a href="{{ url_for('driver.vehicles') }}" class="alert-link">Select
                a new one</a> to be able to take more.
        </div>
    {% endif %}

    <form id="sortForm" class="form form-sort" method="POST"
          action="" role="form">
        {{ location_form.csrf_token }}
        <div class="form-row align-items-center mt-2">
            <div class="col-auto">
                {{ location_form.x.label(class_="sr-only") }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">x</div>
                    </div>
                    {{ location_form.x(placeholder=21, class_="form-control") }}
                </div>
            </div>
            <div class="col-auto">
                {{ location_form.y.label(class_="sr-only") }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">y</div>
                    </div>
                    {{ location_form.y(placeholder=37, class_="form-control") }}
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success mb-2">Sort
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        {{ pagination.links }}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Distance</th>
                <th>Length</th>
                <th>Pickup</th>
                <th>Destination</th>
                <th>places</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr class='clickable-row'
                    data-href='{{ url_for('driver.order', order_id=order.id) }}'>
                    <td>{{ loop.index + pagination.skip }}</td>
                    <td>{{ order.route.distance(coords[0], coords[1]) }}</td>
                    <td>{{ order.route.length }}</td>
                    <td>({{ order.route.x1 }}, {{ order.route.y1 }})</td>
                    <td>({{ order.route.x2 }}, {{ order.route.y2 }})</td>
                    <td>{{ order.people_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pagination.info }}
        {{ pagination.links }}
    </div>


    <style>
        .pagination-page-info {
            padding: .6em;
            padding-left: 0;
            width: 40em;
            margin: .5em;
            margin-left: 0;
            font-size: 12px;
        }

        .pagination-page-info b {
            color: black;
            background: #6aa6ed;
            padding-left: 2px;
            padding: .1em .25em;
            font-size: 150%;
        }

        .clickable-row {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block js %}
    {{ super() }}

    <script type="text/javascript">
      $(document)
        .ready(function ($) {
          $('.clickable-row')
            .click(function () {
              window.document.location = $(this)
                .data('href');
            });
        });
    </script>
{% endblock %}
