{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <h1>Order {{ order.route.id }}</h1>
        <ul>
            <li>Distance: {{ (order.route.x1 - order.route.x2)|abs +
                            (order.route.y1 - order.route.y2)|abs }}</li>
            <li>Start: ({{ order.route.x1 }}, {{ order.route.y1 }})</li>
            <li>Destination: ({{ order.route.x2 }}, {{ order.route.y2 }})</li>
            <li>People count: {{ order.people_count }}</li>
        </ul>

        <form method="post"
              action="{{ url_for('driver.order', order_id=order.id) }}">
            {{ accept_form.csrf_token }}
            <button type="submit" class="btn btn-success mb-2" id="calc">
                Take
            </button>
        </form>
    </div>
{% endblock %}
